<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>学无止境</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css">
<link href="/front/css/base.css" rel="stylesheet">
<link href="/front/css/index.css" rel="stylesheet">
  <script src="/admin/js/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="/front/css/swiper.min.css">
  <script src="/front/js/swiper.min.js"></script>
  <script th:src="@{/layer/layer.js}"></script>
</head>
<body>

<header>
  <div class="he">
    <div class="d4"><a href="/index"  class="a1">网站首页</a></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="cate:${cateList}">
          <a th:href="@{'/cate/'+${cate.categoryId}}" th:text="${cate.categoryName}" class="a1"></a>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="d1"><a href="/personal"  class="a1">个人中心</a></div>
    <div class="d2"> <a href="/front/message"  class="a1">留言</a></div>
  </div>
</header>
<article>
  <script>
    layer.confirm('这栏目下暂时还没有文章哦~~，先去其他栏目看看吧~~',{
      btn:['确定'],
      icon:1
    },function () {
      location.href="/index"
    });
  </script>

</article>

</body>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 5,
    direction: getDirection(),
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      resize: function () {
        swiper.changeDirection(getDirection());
      }
    }
  });

  function getDirection() {
    var windowWidth = window.innerWidth;
    var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

    return direction;
  }
</script>
</html>


