<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>文章 - 博客管理系统</title>
<link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/admin/css/style.css">
<link rel="stylesheet" type="text/css" href="/admin/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="/admin/images/icon/icon.png">
<link rel="shortcut icon" href="/admin/images/icon/favicon.ico">
<script src="/admin/js/jquery-2.1.4.min.js"></script>
    <script th:src="@{/layer/layer.js}"></script>
</head>
<script th:inline="javascript">
    function ff(id) {

        layer.confirm('确定要删除吗？',{
            btn:['是','否'],
            icon:2
        },function () {
            location.href="/back/article/delete/"+id
        });


    }

    function fm() {

        //获取所有已经选中的name属性为ids的input标签
        var cks=$("input[name=ids]:checked");

        if(cks.length<1){
            alert("请选择要删除的用户");
            return;
        }
        //confirm(arg) 点击确定时返回true,点击取消返回false
        if(confirm("确认要删除吗？")){
            //修改form表单的action属性
            $("#f1").prop("action","/back/article/deleteList");
            //jquery提交form表单
            $("#f1").submit();
        }

    }
</script>
<body class="user-select" style="margin: 0px;padding: 0px;">

      <form action="/back/article/list" method="post" class="form-inline" id="f1">
      	<div>
      		<ul class="breadcrumb" style="margin: 0px;">
      			<li><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;收藏夹</li>
      		</ul>
      	</div>

   
     
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>标题</th>
                  <th>作者</th>
                <th>栏目</th>
                <th>发布日期</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="article:${pageBean.list}">
                  <td>
                      <th:block th:if="${#strings.length(article.articleTitle)} > 10">
                      <a th:href="@{'/collectionArticleInfo/'+${article.articleId}}" target="mainframe" th:text="${#strings.substring(article.articleTitle,0,10)}"></a>...
                      </th:block>
                      <th:block th:if="${#strings.length(article.articleTitle)} <10">
                          <a th:text="${article.articleTitle}"  th:href="@{'/collectionArticleInfo/'+${article.articleId}}" target="mainframe"></a>
                      </th:block>
                  </td>
                  <td th:text="${article.userName}">这个是栏目</td>
                <td th:text="${article.categoryName}">这个是栏目</td>
                <td th:text="${#dates.format(article.articleTime,'yyyy-MM-dd')}">2015-12-03</td>
              </tr>
            </tbody>
          </table>
            共有<span th:text="${	pageBean.getTotal()}"/>条记录，当前是第<span th:text="${pageBean.getPageNum()}"/> 页
        </div>
        <footer class="message_footer">
          <nav>
              <div class="message_footer">
                  <ul class="pager" id="page">

                      <span>&emsp14;&emsp14;&emsp14;</span>
                      <th:block th:if="${pageBean.getPageNum()} == 1">
                       第一页  上一页
                      </th:block>
                      <li th:if="${pageBean.getPageNum()} > 1">
                          <a th:href="@{'/back/article/list?page=1'}">第一页</a>
                      </li >
                      <li th:if="${pageBean.getPageNum()} > 1">
                          <a th:href="@{'/back/article/list?page='+${pageBean.getPageNum()-1}}">上一页</a>
                      </li>
                      <th:block th:if="${pageBean.getPageNum()} == ${pageBean.pages}">
                          下一页  最末页
                      </th:block>
                      <li th:if="${pageBean.getPageNum()} != ${pageBean.pages}">
                          <a th:href="@{'/back/article/list?page='+${pageBean.getPageNum()+1}}">下一页</a>
                      </li>
                      <li th:if="${pageBean.getPageNum()} != ${pageBean.pages}">
                          <a th:href="@{'/back/article/list?page='+${pageBean.pages}}">最末页</a>
                      </li>
                  </ul>
              </div>

          </nav>
        </footer>
      </form>
<script src="/admin/js/bootstrap.min.js"></script> 
<script src="/admin/js/admin-scripts.js"></script>

</body>
</html>
