<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>学无止境</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css">
<link href="/front/css/base.css" rel="stylesheet">
<link href="/front/css/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/front/css/swiper.min.css">
  <script src="/front/js/swiper.min.js"></script>
</head>
<body>

<header>
  <div class="he">
    <div class="d4"><a href="/index"  class="a1">网站首页</a></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="cate:${cateList}">
          <a th:href="@{'/cate/'+${cate.categoryId}}" th:text="${cate.categoryName}" class="a1"></a>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="d1"><a href="/personal" class="a1">个人中心</a></div>
    <div class="d2"> <a href="/front/message"  class="a1">留言</a></div>
  </div>
</header>
<article>
  <div class="leftbox">
    <div class="newblogs">
      <h2 class="hometitle"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span>学无止境</h2>
      <ul>
        <li th:each="article:${pageBean.list}">
          <h3 class="blogtitle">
            <th:block th:if="${#strings.length(article.articleTitle)} > 30">
              <a th:href="@{'/listView/'+${article.articleId}}" target="_blank" th:text="${#strings.substring(article.articleTitle,0,30)}"></a>...
            </th:block>
            <th:block th:if="${#strings.length(article.articleTitle)} <30">
              <a th:text="${article.articleTitle}"  th:href="@{'/listView/'+${article.articleId}}" target="_blank"></a>
            </th:block>
          </h3>
          <div class="bloginfo">
            <span class="blogpic">
              <a th:href="@{'/listView/'+${article.articleId}}" title="别让这些闹心的套路，毁了你的网页设计">
                <img th:src="${article.articleImg}" alt="别让这些闹心的套路，毁了你的网页设计" />
              </a>
            </span>
            <th:block th:if="${#strings.length(article.articleContent)} > 130">
              <p th:utext="${#strings.substring(article.articleContent,0,130)}"></p>...
            </th:block>
            <th:block th:if="${#strings.length(article.articleContent)} < 130">
              <div th:utext="${article.articleContent}"></div>
            </th:block>

          </div>
          <div class="autor">
            <span class="lm f_l">
              <a th:href="@{'/cate/'+${article.categoryId}}" title="css3" target="_blank"  class="classname" th:text="${article.categoryName}">css3</a>
            </span>
            <span class="dtime f_l" th:text="${#dates.format(article.articleTime,'yyyy-MM-dd')}">时间</span>
            <span class="au01" th:text="${article.userName}">作者</span>
            <span class="f_r">
              <a th:href="@{'/listView/'+${article.articleId}}" class="more">阅读原文>></a>
            </span>
          </div>
        </li>

      </ul>
      <div >
              <ul class="pager" id="page">

                <span>&emsp14;&emsp14;&emsp14;</span>
                <th:block th:if="${pageBean.getPageNum()} == 1">
                  第一页  上一页
                </th:block>
                <li th:if="${pageBean.getPageNum()} > 1">
                  <a th:href="@{'/search?pageNum=1'}">第一页</a>
                </li >
                <li th:if="${pageBean.getPageNum()} > 1">
                  <a th:href="@{'/search?pageNum='+${pageBean.getPageNum()-1}}">上一页</a>
                </li>
                <th:block th:if="${pageBean.getPageNum()} == ${pageBean.pages}">
                  下一页  最末页
                </th:block>
                <li th:if="${pageBean.getPageNum()} != ${pageBean.pages}">
                  <a th:href="@{'/search?pageNum='+${pageBean.getPageNum()+1}}">下一页</a>
                </li>
                <li th:if="${pageBean.getPageNum()} != ${pageBean.pages}">
                  <a th:href="@{'/search?pageNum='+${pageBean.pages}}">最末页</a>
                </li>
              </ul>
      </div>
    </div>
  </div>
  <div class="rightbox">
    <div class="search">
      <form action="/search" method="post" name="searchform" id="searchform">
        <input name="name" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="paihang">
      <h2 class="ab_title">站长推荐</h2>
      <ul>

        <li th:each="article:${articleRecom}">
          <h3 class="blogtitle"  >
            <th:block th:if="${#strings.length(article.articleTitle)} > 10">
              <a th:href="@{'/listView/'+${article.articleId}}" target="_blank" th:text="${#strings.substring(article.articleTitle,0,10)}"></a>...
            </th:block>
            <th:block th:if="${#strings.length(article.articleTitle)} <10">
              <a th:text="${article.articleTitle}"  th:href="@{'/listView/'+${article.articleId}}" target="_blank"></a>
            </th:block>
          </h3>
          <div class="bloginfo">
            <th:block th:if="${#strings.length(article.articleContent)} > 50">
              <p th:utext="${#strings.substring(article.articleContent,0,65)}"></p>...
            </th:block>
            <th:block th:if="${#strings.length(article.articleContent)} < 50">
              <p th:utext="${article.articleContent}"></p>
            </th:block>
          </div>
          <div class="autor">
            <span class="lm f_l">
              <a th:href="@{'/cate/'+${article.categoryId}}" title="css3" target="_blank"  class="classname" th:text="${article.categoryName}">css3</a>
            </span>
            <span class="au01" th:text="${article.userName}">作者</span>
            <span class="dtime f_l" th:text="${#dates.format(article.articleTime,'yyyy-MM-dd')}">2018-03-25</span>
          </div>
        </li>
      </ul>
      <div class="ad"><img src="/front/picture/ad300x100.jpg"></div>
    </div>

  
  </div>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com"></a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 5,
    direction: getDirection(),
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      resize: function () {
        swiper.changeDirection(getDirection());
      }
    }
  });

  function getDirection() {
    var windowWidth = window.innerWidth;
    var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

    return direction;
  }
</script>
</html>


